<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vegemil.mapper.AdminMapper">

	<sql id="adminColumns">
		  a_id
		, a_pwd
		, a_name
		, a_class
		, a_location
	</sql>

	<insert id="insertAdmin" parameterType="com.vegemil.domain.AdminDTO">
		INSERT INTO M_Admin (
			<include refid="adminColumns" />
		) VALUES (
			  #{aId}
			, #{aPwd}
			, #{aName}
			, '임직원'
			, #{aLocation}
		)
	</insert>

	<select id="findAdminById" parameterType="string" resultType="com.vegemil.domain.AdminDTO">
		SELECT
			<include refid="adminColumns" />
		FROM
			M_Admin
		WHERE
			a_id = #{aId}
	</select>

	<update id="updateAdminPwd" parameterType="com.vegemil.domain.AdminDTO">
		UPDATE M_Admin
		SET
			a_pwd = #{aPwd}
		WHERE
			a_id = #{aId}
	</update>

	<select id="selectAdminList" parameterType="com.vegemil.domain.MemberDTO" resultType="com.vegemil.domain.AdminDTO">
		SELECT
			<include refid="adminColumns" />
		FROM
			M_Admin
		WHERE
		<include refid="CommonMapper.search" />
		ORDER BY
		<include refid="CommonMapper.paging" />
	</select>

	<select id="selectAdminTotalCount" parameterType="com.vegemil.domain.AdminDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			M_Admin
		WHERE
		<include refid="CommonMapper.search" />
	</select>

</mapper>